.column-actions {
    width: 180px;
}

.column-status {
    width: 60px;
}

.column-checkbox {
    width: 30px;
}

.select2-container .select2-selection--single {
    height: 34px !important;
}
.select2-container {
    width: 100% !important;
    padding: 0;
}
.select2-close-mask{
    z-index: 2099;
}
.select2-dropdown{
    z-index: 3051;
}
span.select2-container {
    z-index: 10050;
}

.page-logo .brand img {
    width: 150px;
}

.blockUI{
    z-index: 10060 !important;
}
