        <div class="row">
            
                {%- if ('edit' in actions) and (not hide_edit) %}

                <div class="col-md-2 col-sm-2 col-xs-4">
                    <a class="btn btn-block btn-sm btn-info" href="{{ "{{ path('" ~ route_name_prefix ~ "_edit', { 'id': " ~ entity_singularized ~ "."~ identifier ~" }) }}" }}"><i class="fa fa-pencil"></i> edit</a>
                </div>

                {%- endif %}

                {%- if ('delete' in actions) and (not hide_delete) %}

                <div class="col-md-2 col-sm-2 col-xs-4">
                    {{ '{{ form_start(delete_form) }}' }}
                        <button class="btn btn-block btn-sm btn-danger" type="submit"><i class="fa fa-trash"></i> delete</button>
                    {{ '{{ form_end(delete_form) }}' }}

                {%- endif %}
                </div>

        </div>
