{% trans_default_domain "app" %}

{% extends 'layout.html.twig' %}

{% block stylesheets %}
    <link href="{{ asset('assets/metronic/pages/css/error.min.css') }}" rel="stylesheet" type="text/css" />
{% endblock %}

{% block breadcrumbs %}
    <ul class="page-breadcrumb breadcrumb">
        <li>
            <a href="{{ path('homepage') }}">{{ 'home' | trans }}</a>
            <i class="fa fa-circle"></i>
        </li>
        <li>
            <span>{{ status_code }} - {{ status_text }}</span>
        </li>
    </ul>
{% endblock breadcrumbs %}

{% block content %}
    <div class="page-content-inner">
        <div class="row">
            <div class="col-md-12 page-500">
                <div class="number font-red">{{ status_code }}</div>
                <div class="details">
                    <h3>Oops! Something went wrong.</h3>
                    <p> 
                        We are fixing it! Please come back in a while.
                    </p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}