{% trans_default_domain "app" %}

{% extends 'layout.html.twig' %}

{% block javascripts %}
    <script src="{{ asset('assets/js/expenseReference.js') }}" type="text/javascript"></script>
{% endblock %}

{% block breadcrumbs %}
    <ul class="page-breadcrumb breadcrumb">
        <li>
            <a href="{{ path('homepage') }}">{{ 'home' | trans }}</a>
            <i class="fa fa-circle"></i>
        </li>
        <li>
            <span>{{ 'settings' | trans }}</span>
            <i class="fa fa-circle"></i>
        </li>
        <li>
            <a href="{{ path('expense_reference_index') }}">{{ 'Expense Reference' | trans }}</a>
        </li>
    </ul>
{% endblock breadcrumbs %}

{% block content %}

    <div class="portlet light ">
        <div class="portlet-title">
            <div class="caption font-red-sunglo">
                <i class="{{ app_menu_render_icon() }} font-red-sunglo"></i>
                <span class="caption-subject bold uppercase">
                    {{ 'Expense Reference'  | trans }}
                </span>
            </div>
            <div class="actions">
                <a href="{{ path('expense_reference_new') }}" class="btn btn-primary">
                    {{ 'crud.action.new' | trans }}
                </a>
            </div>
        </div>
        <div class="portlet-body">

            <table class="table table-bordered table-stripped data-table auto-init">
                <thead>
                    <tr>
                        <th>{{ 'name' | trans }}</th>
                        <th>{{ 'main' | trans }}</th>
                        <th class="column-actions no-sort">{{ 'actions' | trans }}</th>
                    </tr>
                </thead>
                <tbody>
                    {% for entity in entities %}
                        <tr>
                            <td>{{ entity.name }}</td>
                            <td>
                                {% if entity.flag %}
                                    <span class="label label-sm label-success">{{ 'yes' | trans }}</span>
                                {% else %}
                                    <span class="label label-sm label-danger">{{ 'no' | trans }}</span>
                                {% endif %}
                            </td>
                            <td>
                                <a class="btn btn-sm btn-info" href="{{ path('expense_reference_edit', { 'id': entity.id }) }}">
                                    <i class="fa fa-pencil"></i>
                                    {{ 'crud.action.edit' | trans }}</a>
                                
                                {% if not entity.flag %}
                                    <a class="btn btn-sm btn-danger" href="{{ path('expense_reference_main_confirm', { 'id': entity.id }) }}">
                                        <i class="fa fa-heart"></i>
                                        {{ 'crud.action.main' | trans }}
                                    </a>
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>

        </div>
    </div>

{% endblock %}
