{% trans_default_domain "app" %}

{% extends 'layout.html.twig' %}

{% block content %}

<div class="portlet light ">
    <div class="portlet-title">
        <div class="caption font-red-sunglo">
            <i class="{{ app_menu_render_icon() }} font-red-sunglo"></i>
            <span class="caption-subject bold uppercase"> {{ 'main_expense_reference' | trans }} </span>
        </div>
        <div class="actions">
            <div class="btn-group">
                <a href="{{ path('expense_index') }}" class=""><i class="fa fa-arrow-left"></i> {{ 'crud.back-to-index-link' | trans }}</a>
            </div>
        </div>
    </div>
    <div class="portlet-body form">
        <p>
            <b>{{ 'crud.action.confirm_main' | trans }}</b><br/><br/>
                {{ 'name' | trans }}: {{ entity.name }}<br/>
        </p>

        {{ form_start(main_form) }}
            {{ form_widget(main_form) }}
            <button type="submit" class="btn btn-danger">
                <i class="fa fa-heart"></i> {{ 'crud.action.main' | trans }}
            </button>
        {{ form_end(main_form) }}

    </div>
</div>

{% endblock %}
