{% trans_default_domain "app" %}

{% extends 'layout.html.twig' %}

{% block javascripts %}
<script src="{{ asset('assets/js/relationshipExpense.js') }}" type="text/javascript"></script>
{% endblock %}

{% block content %}

<div class="portlet light ">
    <div class="portlet-title">
        <div class="caption font-red-sunglo">
            <i class="{{ app_menu_render_icon() }} font-red-sunglo"></i>
            <span class="caption-subject bold uppercase">
                {{ 'RelationshipExpense' | trans }}
            </span>
        </div>
    </div>
    
    <div class="custom-alerts alert alert-danger fade in">
        <button aria-hidden="true" data-dismiss="alert" class="close" type="button"></button>
        {{ 'NotFoundExpenseReferenceSource' | trans }}
    </div>
    
    <div class="portlet-body form">
        <form action="{{ path('relationship_expense_save') }}" method="post">
            <div class="row">
                <div class="col-md-6">
                    <label class="control-label">
                        {{ 'ExpenseReferenceSource' | trans }}
                    </label>
                    <input  class="form-control" type="text" readonly="readonly" value="{% if source %}{{ source.name }}{% endif %}">
                </div>
                <div class="col-md-6">
                    <label for="expense_reference" class="control-label">
                        {{ 'ExpenseReferenceTarget' | trans }}
                    </label>
                    <select class="form-control" name="expense_reference" id="expense_reference" {% if not source %}disabled="disabled"{% endif %}>
                        <option value="">--</option>
                        {% for entity in targets %}
                            <option value="{{ entity.id }}">{{ entity.name }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            
            <div class="row margin-top-10">
                <div class="col-md-12">
                    <table class="table table-advance table-hover">
                        <thead>
                            <tr>
                                <th style="width:45%;"></th>
                                <th style="width:45%;"></th>
                                <th style="width:10%;">
                                    <button type="button" class="btn green add_relationship" disabled="disabled">
                                        <i class="fa fa-plus"></i>
                                    </button>
                                    <button type="button" class="btn btn-primary save_relationship" disabled="disabled">
                                        <i class="fa fa-save"></i>
                                    </button>
                                </th>
                            </tr>
                        </thead>
                        <tbody id="relationship">
                            <tr>
                                <td style="vertical-align:middle;">
                                    <select class="form-control expense_source chosen" name="expense_source[]" {% if not source %}disabled="disabled"{% endif %}>
                                        {% for expense in expenses %}
                                            <option value="{{ expense['value'] }}">{{ expense['text'] }}</option>
                                        {% endfor %}
                                    </select>
                                </td>
                                <td>
                                    <select class="form-control expense_target chosen" multiple="multiple" disabled="disabled">
                                        <option></option>
                                    </select>
                                </td>
                                <td style="vertical-align:middle;">
                                    <button type="button" class="btn red delete_relationship" disabled="disabled">
                                        <i class="fa fa-minus"></i>
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </form>
    </div>
</div>

{% endblock %}
