{% for expense in expenses %}
    <tr>
        <td style="vertical-align:middle;">
            <select class="form-control expense_source" name="expense_source[]">
                <option></option>
                {% for source in sources %}
                    <option value="{{ source.id }}" {% if source.id == expense.id %}selected="selected"{% endif %} {% if source.disabled  %}disabled="disabled"{% endif %}>
                        {{ source.text|e('html') }}
                    </option>
                {% endfor %}
            </select>
        </td>
        <td>
            <select class="form-control expense_target" name="expense_target[{{ expense.id }}][]" multiple="multiple">
                {% for target in targets %}
                    <option value="{{ target.id }}" {% if target.id in selected[expense.id] %}selected="selected"{% endif %} {% if target.disabled  %}disabled="disabled"{% endif %}>
                        {{ target.text }}
                    </option>
                {% endfor %}
            </select>
        </td>
        <td style="vertical-align:middle;">
            <button type="button" class="btn red delete_relationship">
                <i class="fa fa-trash"></i>
            </button>
        </td>
    </tr>
{% endfor %}