<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8 no-js"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9 no-js"> <![endif]-->
<!--[if !IE]><!-->
<html lang="{{ app.request.locale|split('_')[0] }}">
<!--<![endif]-->

    <!-- BEGIN HEAD -->
    <head>
        <meta charset="utf-8" />
        <title>CCEISS</title>
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta content="width=device-width, initial-scale=1" name="viewport" />

        <!-- BEGIN GLOBAL MANDATORY STYLES -->
        <!-- <link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&subset=all" rel="stylesheet" type="text/css" /> -->
        <link href="{{ asset('assets/metronic/global/plugins/font-awesome/css/font-awesome.min.css') }}" rel="stylesheet" type="text/css" />
        <link href="{{ asset('assets/metronic/global/plugins/simple-line-icons/simple-line-icons.min.css') }}" rel="stylesheet" type="text/css" />
        <link href="{{ asset('assets/metronic/global/plugins/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet" type="text/css" />
        <link href="{{ asset('assets/metronic/global/plugins/bootstrap-switch/css/bootstrap-switch.min.css') }}" rel="stylesheet" type="text/css" />
        <!-- END GLOBAL MANDATORY STYLES -->

        <!-- BEGIN THEME GLOBAL STYLES -->
        <link href="{{ asset('assets/metronic/global/css/components.min.css') }}" rel="stylesheet" id="style_components" type="text/css" />
        <link href="{{ asset('assets/metronic/global/plugins/select2/css/select2-bootstrap.min.css') }}" rel="stylesheet" id="style_components" type="text/css" />
        <!-- <link href="{{ asset('assets/metronic/global/css/plugins.min.css') }}" rel="stylesheet" type="text/css" /> -->
        <!-- END THEME GLOBAL STYLES -->

        <!-- BEGIN THEME LAYOUT STYLES -->
        <link href="{{ asset('assets/metronic/layouts/layout3/css/layout.min.css') }}" rel="stylesheet" type="text/css" />
        <link href="{{ asset('assets/metronic/layouts/layout3/css/themes/default.min.css') }}" rel="stylesheet" type="text/css" id="style_color" />
        <link href="{{ asset('assets/metronic/layouts/layout3/css/custom.min.css') }}" rel="stylesheet" type="text/css" />
        <!-- END THEME LAYOUT STYLES -->

        <!-- BEGIN BOWER DEPENDENCES -->
        <link href="{{ asset('assets/vendor/select2/dist/css/select2.min.css') }}" rel="stylesheet" type="text/css" />
        <link href="{{ asset('assets/vendor/datatables.net-bs/css/dataTables.bootstrap.min.css') }}" rel="stylesheet" type="text/css" />
        <link href="{{ asset('assets/css/style.css') }}" rel="stylesheet" type="text/css" />
        <!-- END BOWER DEPENDENCES -->

        <!-- BEGIN PAGE LEVEL STYLES -->

        {% block stylesheets %}{% endblock %}
        <!-- END PAGE LEVEL STYLES -->
    <!-- END HEAD -->

    <body class="page-container-bg-solid">

        <!-- INICIO BLOCK BODY -->
        <div class="page-wrapper">
        {% block body %}{% endblock %}
        </div>
        <!-- FIM BLOCK BODY -->

        <!--[if lt IE 9]>
            <script src="{{ asset('assets/metronic/global/plugins/respond.min.js') }}"></script>
            <script src="{{ asset('assets/metronic/global/plugins/excanvas.min.js') }}"></script>
            <script src="{{ asset('assets/metronic/global/plugins/ie8.fix.min.js') }}"></script>
        <![endif]-->

        <!-- BEGIN CORE PLUGINS -->
        <script src="{{ asset('assets/metronic/global/plugins/jquery.min.js') }}" type="text/javascript"></script>
        <script src="{{ asset('assets/metronic/global/plugins/bootstrap/js/bootstrap.min.js') }}" type="text/javascript"></script>
        <script src="{{ asset('assets/metronic/global/plugins/js.cookie.min.js') }}" type="text/javascript"></script>
        <script src="{{ asset('assets/metronic/global/plugins/jquery-slimscroll/jquery.slimscroll.min.js') }}" type="text/javascript"></script>
        <script src="{{ asset('assets/metronic/global/plugins/jquery.blockui.min.js') }}" type="text/javascript"></script>
        <script src="{{ asset('assets/metronic/global/plugins/bootstrap-switch/js/bootstrap-switch.min.js') }}" type="text/javascript"></script>
        <!-- END CORE PLUGINS -->

        <!-- BEGIN THEME GLOBAL SCRIPTS -->
        <script src="{{ asset('assets/metronic/global/scripts/app.min.js') }}" type="text/javascript"></script>
        <!-- END THEME GLOBAL SCRIPTS -->

        <!-- BEGIN THEME LAYOUT SCRIPTS -->
        <script src="{{ asset('assets/metronic/layouts/layout3/scripts/layout.min.js') }}" type="text/javascript"></script>
        <!-- END THEME LAYOUT SCRIPTS -->

        <!-- BEGIN BOWER DEPENDENCES -->
        <script src="{{ asset('assets/vendor/select2/dist/js/select2.min.js') }}" type="text/javascript"></script>
        <script src="{{ asset('assets/vendor/jquery-validation/dist/jquery.validate.min.js') }}" type="text/javascript"></script>
        <script src="{{ asset('assets/vendor/jquery.inputmask/dist/min/jquery.inputmask.bundle.min.js') }}" type="text/javascript"></script>
        <script src="{{ asset('assets/vendor/datatables.net/js/jquery.dataTables.min.js') }}" type="text/javascript"></script>
        <script src="{{ asset('assets/vendor/datatables.net-bs/js/dataTables.bootstrap.min.js') }}" type="text/javascript"></script>
        <script src="{{ asset('assets/vendor/jquery-serialize-object/dist/jquery.serialize-object.min.js') }}" type="text/javascript"></script>
        <script src="{{ asset('assets/vendor/storage.js/storage.js') }}" type="text/javascript"></script>
        <script src="{{ asset('assets/vendor/jquery.serializeJSON/jquery.serializejson.min.js') }}" type="text/javascript"></script>
        <!-- END BOWER DEPENDENCES -->

        <!-- TRANSLATOR -->
        <script src="{{ asset('bundles/bazingajstranslation/js/translator.min.js') }}"></script>
        <script src="{{ url('bazinga_jstranslation_js', { 'domain': 'app' }) }}?locales={{ app.request.locale|split('_')[0] }}"></script>
        <!-- END TRANSLATOR -->

        <!-- JS ROUTE -->
        <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
        <script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>
        <!-- END JS ROUTE -->

        <!-- BEGIN SCRIPTS -->
        <script src="{{ asset('assets/js/general.js') }}" type="text/javascript"></script>
        <script src="{{ asset('assets/js/message.js') }}" type="text/javascript"></script>
        <script src="{{ asset('assets/js/form.js') }}" type="text/javascript"></script>

        {% block javascripts %}{% endblock %}
        <!-- END SCRIPTS -->
    </body>

</html>
