{% extends 'base.html.twig' %}

{% block body %}

    <div class="page-wrapper-row">
        <div class="page-wrapper-top">
            {% include 'includes/header.html.twig' %}
        </div>
    </div>

    <div class="page-wrapper-row full-height">
        <div class="page-wrapper-middle">
            <!-- BEGIN CONTAINER -->
            <div class="page-container">
                <!-- BEGIN CONTENT -->
                <div class="page-content-wrapper">
                    <!-- BEGIN CONTENT BODY -->

                    <div class="page-content">
                        <div class="container">
                            {% block breadcrumbs %}{% endblock %}

                            <div class="page-content-inner">
                                {% for flashMessage in app.session.flashbag.get('messages') %}
                                    <div class="row">
                                        <div class="col-xs-12">
                                        <div class="alert bold alert-{{ flashMessage.level }}">
                                            <button type="button" class="close" data-dismiss="alert"></button>
                                            {{ flashMessage.msg }}
                                        </div>
                                        </div>
                                    </div>
                                {% endfor %}
        

                                {% block content %}{% endblock content %}
                            </div>
                        </div>
                    </div>

                    <!-- END CONTENT BODY -->
                </div>
                <!-- END CONTENT -->

            </div>
            <!-- END CONTAINER -->
        </div>
    </div>
{% endblock body %}
