{% trans_default_domain "app" %}

<div class="hor-menu  ">
    <ul class="nav navbar-nav">
        {% for item in mainMenu %}
            {% if not item.hasChildren %}
                {{ app_menu_render_single(item) }}
            {% else %}
                {% if (item.role and is_granted(item.role)) or (not (item.role)) %}
                    <li aria-haspopup="true" class="menu-dropdown {{ item.listItemClass }}">
                        <a href="javascript:;">
                            {% if item.iconClass %}
                                <i class="{{ item.iconClass }}"></i>
                            {% endif %}
                            
                            {{ item.label | title }}
                            <span class="arrow"></span>
                        </a>
                        {{ app_menu_render_children(item) }}
                    </li>                
                {% endif %}
            {% endif %}
        {% endfor %}
    </ul>
</div>


<!-- 
<div class="hor-menu  ">
    <ul class="nav navbar-nav">
        <li>
            <a href="{{ path('homepage') }}">
                {{ 'home' | trans | title }}
            </a>
        </li>
        {% if is_granted('ROLE_ADMIN') %}
            <li aria-haspopup="true" class="menu-dropdown mega-menu-dropdown  ">
                <a href="javascript:;">
                    {{ 'settings' | trans }}
                    <span class="arrow"></span>
                </a>
                <ul class="dropdown-menu">
                    <li>
                        <div class="mega-menu-content">
                            <div class="row">
                                <div class="col-md-6">
                                    <ul class="mega-menu-submenu">
                                        <li>
                                            <a href="{{ path('users_index') }}">
                                                {{ 'user' | trans }}
                                            </a>
                                        </li>
                                        <li>
                                            <a href="{{ path('program_index') }}">
                                                {{ 'Program' | trans }}
                                            </a>
                                        </li>
                                        <li>
                                            <a href="{{ path('intervention_area_index') }}">
                                                {{ 'InterventionAreas' | trans }}
                                            </a>
                                        </li>
                                        <li>
                                            <a href="{{ path('social_response_index') }}">
                                                {{ 'SocialResponse' | trans }}
                                            </a>
                                        </li>
                                        <li>
                                            <a href="{{ path('beneficiary_class_index') }}">
                                                {{ 'BeneficiaryClass' | trans }}
                                            </a>
                                        </li>
                                        <li>
                                            <a href="{{ path('expense_reference_index') }}">
                                                {{ 'ExpenseReference' | trans }}
                                            </a>
                                        </li>
                                        <li>
                                            <a href="{{ path('expense_type_index') }}">
                                                {{ 'ExpenseType' | trans }}
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="col-md-6">
                                    <ul class="mega-menu-submenu">
                                        <li>
                                            <a href="{{ path('expense_index') }}">
                                                {{ 'Expense' | trans }}
                                            </a>
                                        </li>
                                        <li>
                                            <a href="{{ path('workflow_type_index') }}">
                                                {{ 'WorkflowType' | trans }}
                                            </a>
                                        </li>
                                        <li>
                                            <a href="{{ path('post_index') }}">
                                                {{ 'Post' | trans }}
                                            </a>
                                        </li>
                                        <li>
                                            <a href="{{ path('bank_index') }}">
                                                {{ 'Bank' | trans }}
                                            </a>
                                        </li>
                                        <li>
                                            <a href="{{ path('general_revenue_source_index') }}">
                                                {{ 'GeneralRevenueSource' | trans }}
                                            </a>
                                        </li>
                                        <li>
                                            <a href="{{ path('revenue_source_index') }}">
                                                {{ 'RevenueSource' | trans }}
                                            </a>
                                        </li>
                                        <li>
                                            <a href="{{ path('setting_index') }}">
                                                {{ 'settings' | trans }}
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </li>
        {% endif %}
        <li>
            <a href="{{ path('social_institution_index') }}">
                {{ 'SocialInstitution' | trans }}
            </a>
        </li>
    </ul>
</div>
-->
