{% if item.hasChildren %}
    {% if (item.role and is_granted(item.role)) or (not (item.role)) %}
        <li aria-haspopup="true" class="dropdown-submenu {{ item.listItemClass }}">
            <a href="javascript:;">
                {% if item.iconClass %}
                    <i class="{{ item.iconClass }}"></i>
                {% endif %}

                {{ item.label | title }}
                <span class="arrow"></span>
            </a>

            {{ app_menu_render_children(item) }}
        </li>
    {% endif %}
{% else %}
    {{ app_menu_render_single(item) }}
{% endif %}
