<ul class="dropdown-menu">
    {% if ( (item.countChildren <= item.childrenPerColumn) or (item.childrenPerColumn == 0) ) %}
        {% for child in item.children %}
            {{ app_menu_render_item(child) }}
        {% endfor %}
    {% else %}
        <li>
            <div class="mega-menu-content">
                <div class="row">
                       {% for group in item.groupChildrenBy(item.childrenPerColumn) %}
                            <div class="col-md-4">
                                <ul class="mega-menu-submenu">
                                    {% for element in group %}
                                        {{ app_menu_render_item(element) }}
                                    {% endfor %}
                                </ul>
                            </div>
                       {% endfor %}
                </div>
            </div>
        </li>
    {% endif %}
</ul>
