    {% if (item.role and is_granted(item.role)) or (not (item.role)) %}
        <li class="{{ item.listItemClass }}">
            <a class="nav-link" href="{{ item.uri }}"> 
                {% if item.iconClass %}
                    <i class="{{ item.iconClass }}"></i>
                {% endif %}
                {{ item.label | title }} 
            </a>
        </li>
    {% endif %}
