{% set colours = ['bg-red-sunglo', 'bg-blue-hoki', 'bg-green-turquoise', 'bg-yellow-saffron', 'bg-blue-madison', 'bg-purple-studio', 'bg-green-meadow', 'bg-grey-cascade', 'bg-red-intense', 'bg-green', 'bg-blue-steel', 'bg-yellow-lemon'] %}

<div class="tiles">
    {% for item in itens %}
        <a href="{{ item.uri }}">
            <div class="tile {{ random(colours) }}">
                <div class="tile-body">
                    <i class="{{ item.iconClass }}"></i>
                </div>
                <div class="tile-object">
                    <div class="name"> {{ item.label }} </div>
                    <div class="number"> </div>
                </div>
            </div>
        </a>
    {% endfor %}
</div>
