{% trans_default_domain "app" %}

{% extends 'layout.html.twig' %}

{% block stylesheets %}
        <link href="{{ asset('assets/vendor/jstree/dist/themes/default/style.min.css') }}" rel="stylesheet" type="text/css" />
        
        <style>
            li.inactive-item > a {
                opacity: 0.4 !important;
            }           
            
        </style>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('assets/js/expense.js') }}" type="text/javascript"></script>
    <script src="{{ asset('assets/vendor/jstree/dist/jstree.min.js') }}" type="text/javascript"></script>
    <script src="{{ asset('assets/js/expenseEditJstreePlugin.js') }}" type="text/javascript"></script>
{% endblock %}

{% block breadcrumbs %}
    <ul class="page-breadcrumb breadcrumb">
        <li>
            <a href="{{ path('homepage') }}">{{ 'home' | trans }}</a>
            <i class="fa fa-circle"></i>
        </li>
        <li>
            <span>{{ 'settings' | trans }}</span>
            <i class="fa fa-circle"></i>
        </li>
        <li>
            <a href="{{ path('expense_index') }}">{{ 'Expense' | trans }}</a>
        </li>
    </ul>
{% endblock breadcrumbs %}

{% block content %}

    <div class="portlet light ">
        <div class="portlet-title">
            <div class="caption font-red-sunglo">
                <i class="{{ app_menu_render_icon() }} font-red-sunglo"></i>
                <span class="caption-subject bold uppercase">
                    {{ 'Expense' | trans }}
                </span>
            </div>
            <div class="actions">
                <a href="{{ path('expense_new') }}" class="btn btn-primary">
                    {{ 'crud.action.new' | trans }}
                </a>

                <div class="btn-group">
                    <button class="btn dropdown-toggle" type="button" data-toggle="dropdown">
                        <i class="fa fa-exchange"></i>
                        {{ 'Change status' | trans }}
                        <i class="fa fa-angle-down"></i>
                    </button>
                    <ul class="dropdown-menu" role="menu">
                        {% for key, value in status %}
                            <li>
                                <a href="javascript:;" class="change-status" data-status="{{ key }}">
                                    {{ value | trans }}
                                </a>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
        <div class="portlet-body">

            <div class="row">
                <div class="col-md-6">
                    <form id="search-form" method="get" novalidate role="form">
                        <div class="form-body">

                            <div class="form-group">
                                <label class="control-label">{{ 'ExpenseReference' | trans }}</label>
                                <select class="form-control search" name="expense_reference_id">
                                    <!-- <option value="">--</option> -->
                                    {% for ref in referencies %}
                                        <option value="{{ ref.id }}">{{ ref.name }}</option>
                                    {% endfor %}
                                </select>
                            </div>

                        </div>
                    </form>
                </div>
            </div>
                 
            <div class="row">
                <div class="col-md-12">
                    <hr/>
                    <div id="expense_tree" class=""></div>
                </div>
            </div>

        </div>
    </div>

{% endblock %}
