{% trans_default_domain 'FOSUserBundle' %}

<div class="vertical-center">
    <div class="col-md-8 col-md-offset-2">
        <div class="portlet light">
            <div class="portlet-title">
                <div class="caption font-red-sunglo">
                    <i class="icon-share font-red-sunglo"></i>
                    <span class="caption-subject bold uppercase">REGISTRATION</span>
                    <span class="caption-helper"></span>
                </div>
                <div class="actions"></div>
            </div>
            <div class="portlet-body form">

                {% form_theme form 'bootstrap_3_layout.html.twig' %}
                {{ form_start(form, {'method': 'post', 'action': path('fos_user_registration_register'), 'attr': {'class': 'fos_user_registration_register'}}) }}
                    <div class="form-body">
                        {{ form_row(form.username) }}
                        {{ form_row(form.email) }}
                        {{ form_row(form.plainPassword) }}
                        {{ form_row(form.defaultLocale) }}
                        {{ form_row(form._token) }}
                    </div>
                    <div class="form-actions">
                        <div class="row">
                            <div class="col-md-8 col-md-offset-4">
                                <input class="btn btn-primary" type="submit" value="{{ 'registration.submit'|trans }}" />
                            </div>
                        </div>
                    </div>
                {{ form_end(form) }}

            </div>
        </div>
    </div>
</div>
