<div class="modal-body">
    <socialInstitution-formSocialResponse intervention_area_id="{{ intervention_area_id }}"></socialInstitution-formSocialResponse>
</div>
<script>
    riot.mount('socialInstitution-formSocialResponse');
</script>
