{% trans_default_domain "app" %}

{% extends 'layout.html.twig' %}

{% block javascripts %}
    <script src="{{ asset('assets/vendor/riot/riot+compiler.min.js') }}" type="text/javascript"></script>
    <script src="{{ asset('assets/js/socialInstitution.js') }}" type="text/javascript"></script>
    <script src="{{ asset('assets/js/tags/address.tag') }}" type="riot/tag"></script>
    <script src="{{ asset('assets/js/tags/social-institution/tabs.tag') }}" type="riot/tag"></script>
    <script src="{{ asset('assets/js/tags/social-institution/info.tag') }}" type="riot/tag"></script>
    <script src="{{ asset('assets/js/tags/social-institution/contacts.tag') }}" type="riot/tag"></script>
    <script src="{{ asset('assets/js/tags/social-institution/banks.tag') }}" type="riot/tag"></script>
    <script src="{{ asset('assets/js/tags/social-institution/intervention-areas.tag') }}" type="riot/tag"></script>
    <script src="{{ asset('assets/js/tags/social-institution/social-response-form.tag') }}" type="riot/tag"></script>
{% endblock %}

{% block content %}

    <div class="portlet light ">
        <div class="portlet-title">
            <div class="caption font-red-sunglo">
                <i class="{{ app_menu_render_icon() }} font-red-sunglo"></i>
                <span class="caption-subject bold uppercase">
                    {% if id is empty %}
                        {{ 'new_SocialInstitution' | trans }}
                    {% else %}
                        {{ 'edit_SocialInstitution' | trans }}
                    {% endif %}
                </span>
            </div>
            <div class="actions">
                <div class="btn-group">
                    <a href="{{ path('social_institution_index') }}" class="">
                        <i class="fa fa-arrow-left"></i>
                        {{ 'crud.back-to-index-link' | trans| capitalize }}
                    </a>
                </div>
            </div>
        </div>
        <div class="portlet-body form">
            <form id="formSocialInstitution">
                {{ form_widget(form._token) }}
                <social-institution-tabs id="{{ id }}"></social-institution-tabs>
            </form>
        </div>
    </div>
{% endblock %}
