{% trans_default_domain "app" %}

{% extends 'layout.html.twig' %}

{% block javascripts %}
    <script src="{{ asset('assets/vendor/riot/riot+compiler.min.js') }}" type="text/javascript"></script>
    <script src="{{ asset('assets/js/tags/address.tag') }}" type="riot/tag"></script>
    <script src="{{ asset('assets/js/socialInstitution.js') }}" type="text/javascript"></script>
{% endblock %}

{% block breadcrumbs %}
    <ul class="page-breadcrumb breadcrumb">
        <li>
            <a href="{{ path('homepage') }}">{{ 'home' | trans }}</a>
            <i class="fa fa-circle"></i>
        </li>
        <li>
            <span>{{ 'settings' | trans }}</span>
            <i class="fa fa-circle"></i>
        </li>
        <li>
            <a href="{{ path('social_institution_index') }}">{{ 'SocialInstitution' | trans }}</a>
        </li>
    </ul>
{% endblock breadcrumbs %}

{% block content %}
    <div class="portlet light ">
        <div class="portlet-title">
            <div class="caption font-red-sunglo">
                <i class="{{ app_menu_render_icon() }} font-red-sunglo"></i>
                <span class="caption-subject bold uppercase">
                    {{ 'SocialInstitution' | trans }}
                </span>
            </div>
            <div class="actions">
                <a href="{{ path('social_institution_new') }}" class="btn btn-primary">
                    {{ 'crud.action.new' | trans }}
                </a>
                <div class="btn-group">
                    <button class="btn dropdown-toggle" type="button" data-toggle="dropdown">
                        <i class="fa fa-exchange"></i>
                        {{ 'Change status' | trans }}
                        <i class="fa fa-angle-down"></i>
                    </button>
                    <ul class="dropdown-menu" role="menu">
                        {% for key, value in status %}
                            <li>
                                <a href="javascript:;" class="change-status" data-status="{{ key }}">
                                    {{ value | trans }}
                                </a>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
        <div class="portlet-body">
            <div class="row">
                <div class="col-sm-12">
                    {% include('AppBundle:SocialInstitution:search.html.twig') %}
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <table class="table table-bordered table-stripped data-table auto--init" id="tableSocialInstitution">
                        <thead>
                            <tr>
                                <th class="column-checkbox no-sort"><input type="checkbox" class="toggle-check"></th>
                                <th>{{ 'name' | trans }}</th>
                                <th class="text-capitalize">{{ 'address' | trans }}</th>
                                <th class="text-capitalize">{{ 'status_iss' | trans }}</th>
                                <th class="column-status">{{ 'status' | trans }}</th>
                                <th class="column-actions no-sort">{{ 'actions' | trans }}</th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
