{% trans_default_domain "app" %}

{% for entity in entities %}
    <tr>
        <td>
            <input type="checkbox" class="status-check" value="{{ entity.id }}">
        </td>
        <td>{{ entity.name }}</td>
        <td>
            {% if entity.Address is not empty %}
                {{ entity.Address.Suku.PostoAdministrativo.Municipio.name }},
                {{ entity.Address.Suku.PostoAdministrativo.name }},
                {{ entity.Address.Suku.Name }}
            {% endif %}
        </td>
        <td class="text-capitalize">
            {% if entity.InstitutionStatus is not empty %}
                {{ entity.InstitutionStatus.name }}
            {% endif %}
        </td>
        <td>
            <span class="label label-sm {{ entity.status ? 'label-success' : 'label-danger' }} ">
                {{ entity.enum('status') | trans }}
            </span>
        </td>
        <td>
            <a class="btn btn-sm btn-info" href="{{ path('social_institution_edit', { 'id': entity.id }) }}">
                <i class="fa fa-pencil"></i>
                {{ 'crud.action.edit' | trans }}</a>
        </td>
    </tr>
{% endfor %}
