<div class="portlet box blue-hoki">
    <div class="portlet-title">
        <div class="caption text-capitalize">{{ 'search' | trans }}</div>
        <div class="tools">
            <a href="javascript:;" id="btnTooglePortlet" class="expand"></a>
        </div>
        <div class="actions">
            <a href="javascript:;" onclick="SocialInstitution.search();" class="btn btn-circle btn-info btn-sm text-capitalize">
                <i class="fa fa-search"></i>
                {{ 'search' | trans }}
            </a>
        </div>
    </div>
    <div class="portlet-body" style="display:none">
        <form id="formSearch">
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label class="control-label text-capitalize required">
                            {{ 'name' | trans }}
                        </label>
                        <input type="text" name="name" maxlength="255" class="form-control">
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label class="control-label text-capitalize required">
                            {{ 'districts' | trans }}
                        </label>
                        <select class="form-control select2" name="districts" multiple>
                            {% for district in districts %}
                                <option value="{{ district.id }}">{{ district.name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label class="control-label text-capitalize required">
                            {{ 'interventionArea' | trans }}
                        </label>
                        <select class="form-control select2" name="intervention_areas" multiple>
                            {% for area in intervention_areas %}
                                <option value="{{ area.id }}">{{ area.name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label class="control-label text-capitalize required">
                            {{ 'socialResponse' | trans }}
                        </label>
                        <select class="form-control select2" name="social_responses" multiple>
                            {% for socialResponse in social_responses %}
                                <option value="{{ socialResponse.id }}">{{ socialResponse.name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <component-address form_name="address" id="divAddress"></component-address>
                </div>
            </div>
        </form>
    </div>
</div>
