/**
{% block phpdoc_method_header %}
 * Lists all {{ entity }} entities.
{% endblock phpdoc_method_header %}
 *
{% block phpdoc_method_annotations %}
{% if 'annotation' == format %}
 * @Route("/{id}/delete", name="{{ route_name_prefix }}_delete_confirm")
 * @Method("GET")
{% endif %}
{% endblock phpdoc_method_annotations %}
 */
{% block method_definition %}
public function deleteConfirmAction(Request $request, {{ entity_class }} ${{ entity_singularized }})
{% endblock method_definition %}
{
{% block method_body %}
    $deleteForm = $this->createDeleteForm(${{ entity_singularized }});

{% endblock method_body %}

{% block method_return %}
    return $this->render('{{ bundle }}:{{ entity }}:delete.html.twig', array(
        '{{ entity_singularized }}' => ${{ entity_singularized }},
        'delete_form' => $deleteForm->createView()
    ));
{% endblock method_return %}
}
