    /**
{% block phpdoc_method_header %}
     * Lists all {{ entity }} entities.
{% endblock phpdoc_method_header %}
     *
{% block phpdoc_method_annotations %}
{% if 'annotation' == format %}
     * @Route("/{id}/edit", name="{{ route_name_prefix }}_edit")
     * @Method({"GET", "POST"})
{% endif %}
{% endblock phpdoc_method_annotations %}
     */
{% block method_definition %}
    public function editAction(Request $request, {{ entity_class }} ${{ entity_singularized }})
{% endblock method_definition %}
    {
{% block method_body %}
        $editForm = $this->createForm('{{ bundle }}\Form\{{ entity }}Type', ${{ entity_singularized }});
        $editForm->handleRequest($request);

        if ($editForm->isSubmitted() && $editForm->isValid()) {
            $this->getDoctrine()->getManager()->flush();
            return $this->redirectToRoute('{{ route_name_prefix }}_index');
        }

{% endblock method_body %}

{% block method_return %}
        return $this->render('{{ bundle }}:{{ entity }}:edit.html.twig', array(
            '{{ entity_singularized }}' => ${{ entity_singularized }},
            'edit_form' => $editForm->createView()
        ));
{% endblock method_return %}
    }
