    /**
{% block phpdoc_method_header %}
     * Lists all {{ entity }} entities.
{% endblock phpdoc_method_header %}
     *
{% block phpdoc_method_annotations %}
{% if 'annotation' == format %}
     * @Route("/", name="{{ route_name_prefix }}_index")
     * @Method("GET")
{% endif %}
{% endblock phpdoc_method_annotations %}
     */
{% block method_definition %}
    public function indexAction(Request $request)
{% endblock method_definition %}
    {
{% block method_body %}
        $em = $this->getDoctrine()->getManager();

        ${{ entity_pluralized }} = $em->getRepository('{{ bundle }}:{{ entity }}')->findAll();

        $paginator  = $this->get('knp_paginator');

        $pagination = $paginator->paginate(
            ${{ entity_pluralized }},
            $request->query->getInt('page', 1) /*page number*/,
            10 /*limit per page*/
        );
{% endblock method_body %}

{% block method_return %}
        return $this->render('{{ bundle }}:{{ entity }}:index.html.twig', array(
            'pagination' => $pagination,
        ));
{% endblock method_return %}
    }
