{% trans_default_domain 'FOSUserBundle' %}

{% block stylesheets %}
    <style>
        .vertical-center {
            min-height: 100%;
            min-height: 100vh;
            display: flex;
            align-items: center;
        }
    </style>
{% endblock %}

<div class="vertical-center">
    <div class="col-md-8 col-md-offset-2">
        <div class="portlet light">
            <div class="portlet-title">
                <img src="{{ asset('assets/img/cceiss.png')}}" style="width:100%" alt="CCEISS">
                <div class="caption font-red-sunglo">
                    <i class="icon-share font-red-sunglo"></i>
                    <span class="caption-subject bold uppercase">LOGIN</span>
                    <span class="caption-helper"></span>
                </div>
                <div class="actions"></div>
            </div>
            <div class="portlet-body form">
                <form class="form-horizontal" action="{{ path("fos_user_security_check") }}" method="post">
                    <div class="form-body">

                        {% if error %}
                        <div class="form-group">
                            <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                        </div>
                        {% endif %}

                        <div class="form-group">
                            <label class="col-md-4 control-label" for="username">{{ 'security.login.username'|trans }}</label>
                            <div class="col-md-8">
                                <input class="form-control" type="text" id="username" name="_username" value="{{ last_username }}" required="required" />
                            </div>
                        </div>

                        <div class="form-group">
                            <label  class="col-md-4 control-label" for="password">{{ 'security.login.password'|trans }}</label>
                            <div class="col-md-8">
                                <input class="form-control" type="password" id="password" name="_password" required="required" />
                            </div>
                        </div>

                        <div class="form-group last">
                            <div class="col-md-8 col-md-offset-4">
                                <input type="checkbox" id="remember_me" name="_remember_me" value="on" />
                                <label for="remember_me">{{ 'security.login.remember_me'|trans }}</label>
                            </div>
                        </div>
                    </div>
                    <div class="form-actions">
                        <div class="row">
                            <div class="col-md-8 col-md-offset-4">
                                <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
                                <input class="btn btn-primary" type="submit" id="_submit" name="_submit" value="{{ 'security.login.submit'|trans }}" />&nbsp;
                                <!-- <a href="{{ path('fos_user_registration_register') }}">{{ 'registration.submit'|trans }}</a> -->
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
