{% trans_default_domain "app" %}

{% extends 'layout.html.twig' %}

{% block content %}

<div class="portlet light ">
    <div class="portlet-title">
        <div class="caption font-red-sunglo">
            <i class="{{ app_menu_render_icon() }} font-red-sunglo"></i>
            <span class="caption-subject bold uppercase"> {{ 'inactive_SocialResponse' | trans }} </span>
        </div>
        <div class="actions">
            <div class="btn-group">
                <a href="{{ path('social_response_index') }}" class=""><i class="fa fa-arrow-left"></i> {{ 'crud.back-to-index-link' | trans }}</a>
            </div>
        </div>
    </div>
    <div class="portlet-body form">
        <p>
            <b>{{ 'crud.action.confirm_inactive' | trans }}</b><br/><br/>
            {{ 'name' | trans }}: {{ entity.name }}<br/>
        </p>

        {{ form_start(delete_form) }}
            {{ form_widget(delete_form) }}
            <button type="submit" class="btn btn-danger"><i class="fa fa-trash"></i> {{ 'crud.action.inactive' | trans }}</button>
        {{ form_end(delete_form) }}

    </div>
</div>

{% endblock %}
