{% extends 'base.html.twig' %}

{% block body %}

    <div class="page-wrapper-row full-height">
        <div class="page-wrapper-middle">
            <div class="container">
                {% block fos_user_content %}{% endblock fos_user_content %}
            </div>
        </div>
    </div>
{% endblock body %}
