<!-- BEGIN HEADER -->
<div class="page-header">
    <!-- BEGIN HEADER TOP -->
    <div class="page-header-top">
        <div class="container">
            <!-- BEGIN LOGO -->
            <div class="page-logo">
                <span class="brand">
                    <h2>
                        <a href="{{ path('homepage') }}">
                            <img src="{{ asset('assets/img/cceiss_logo.png')}}" alt="CCEISS">
                        </a>
                    </h2>
                </span>
            </div>
            <!-- END LOGO -->

            <!-- BEGIN RESPONSIVE MENU TOGGLER -->
            <a href="javascript:;" class="menu-toggler"></a>
            <!-- END RESPONSIVE MENU TOGGLER -->

            <!-- BEGIN TOP NAVIGATION MENU -->
            <div class="top-menu">
                <ul class="nav navbar-nav pull-right">

                    <!-- BEGIN LANGUAGE BAR -->
                    {{ locale_switcher() }}
                    <!-- END LANGUAGE BAR -->

                    <!-- BEGIN USER LOGIN DROPDOWN -->
                    {% include 'includes/user-login-dropdown.html.twig' %}
                    <!-- END USER LOGIN DROPDOWN -->

                </ul>
            </div>
            <!-- END TOP NAVIGATION MENU -->
        </div>
    </div>
    <!-- END HEADER TOP -->

    <!-- BEGIN HEADER MENU -->
    <div class="page-header-menu">
        <div class="container">

            <!-- BEGIN HEADER SEARCH BOX -->
            <!-- <form class="search-form" action="page_general_search.html" method="GET">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Search" name="query">
                    <span class="input-group-btn">
                        <a href="javascript:;" class="btn submit"><i class="icon-magnifier"></i></a>
                    </span>
                </div>
            </form> -->
            <!-- END HEADER SEARCH BOX -->

            <!-- BEGIN MEGA MENU -->
            <div class="hor-menu ">
                {% include 'includes/menu.html.twig' %}
            </div>
            <!-- END MEGA MENU -->

        </div>
    </div>
    <!-- END HEADER MENU -->


</div>
<!-- END HEADER -->
