{% set flags = {'pt': 'pt.png', 'en': 'gb.png', 'tl': 'tl.png'} %}
{% set text =  {'pt': 'Português', 'en': 'English', 'tl': 'Tetum'} %}

<script type="text/javascript">
    var CURRENT_LOCALE = '{{ current_locale }}';
</script>

<li class="dropdown dropdown-language">

    <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
        <img alt="" src="{{ asset('assets/img/flags/')}}{{ flags[current_locale] }}">
        <span class="langname capitalize"> {{ text[current_locale] }} </span>
        <i class="fa fa-angle-down"></i>
    </a>

    <ul class="dropdown-menu dropdown-menu-default">
        {% for locale in locales %}
            {% set flag = flags[locale.locale] %}
            <li>
                <a href="{{ locale.link }}">
                    <img alt="" src="{{ asset('assets/img/flags/')}}{{ flag }}"> {{ text[locale.locale] }} </a>
            </li>
        {% endfor %}
    </ul>
</li>
