{% trans_default_domain "app" %}

<li class="dropdown dropdown-user dropdown-light">
    <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
        <span class="username username-hide-mobile">{{ app.user.username|title }}</span>
    </a>
     <ul class="dropdown-menu dropdown-menu-default">
        <!-- <li>
            <a href="page_user_profile_1.html"><i class="icon-user"></i> My Profile </a>
        </li>
        <li>
            <a href="app_calendar.html"><i class="icon-calendar"></i> My Calendar </a>
        </li>
        <li>
            <a href="app_inbox.html">
                <i class="icon-envelope-open"></i> My Inbox
                <span class="badge badge-danger"> 3 </span>
            </a>
        </li>
        <li>
            <a href="app_todo_2.html">
                <i class="icon-rocket"></i> My Tasks
                <span class="badge badge-success"> 7 </span>
            </a>
        </li>
        <li class="divider"> </li>
        <li>
            <a href="page_user_lock_1.html">
                <i class="icon-lock"></i> Lock Screen </a>
        </li> -->
        <li>
            <a href="{{ path('fos_user_profile_edit') }}"><i class="icon-user"></i> {{ 'myprofile' | trans }} </a>
        </li>
        <li class="divider"> </li>
        <li>
            <a href="{{ path('fos_user_security_logout') }}">
                <i class="icon-key"></i> {{ 'logout' | trans }} </a>
        </li>
    </ul>
</li>
