{% trans_default_domain "app" %}

{% extends 'layout.html.twig' %}

{% block javascripts %}
    <script src="{{ asset('assets/js/post.js') }}" type="text/javascript"></script>
{% endblock %}

{% block breadcrumbs %}
    <ul class="page-breadcrumb breadcrumb">
        <li>
            <a href="{{ path('homepage') }}">{{ 'home' | trans }}</a>
            <i class="fa fa-circle"></i>
        </li>
        <li>
            <span>{{ 'settings' | trans }}</span>
            <i class="fa fa-circle"></i>
        </li>
        <li>
            <a href="{{ path('post_index') }}">{{ 'Post' | trans }}</a>
        </li>
    </ul>
{% endblock breadcrumbs %}

{% block content %}

    <div class="portlet light ">
        <div class="portlet-title">
            <div class="caption font-red-sunglo">
                <i class="{{ app_menu_render_icon() }} font-red-sunglo"></i>
                <span class="caption-subject bold uppercase">
                    {{ 'Post' | trans }}
                </span>
            </div>
            <div class="actions">
                <a href="{{ path('post_new') }}" class="btn btn-primary">
                    {{ 'crud.action.new' | trans }}
                </a>

                <div class="btn-group">
                    <button class="btn dropdown-toggle" type="button" data-toggle="dropdown">
                        <i class="fa fa-exchange"></i>
                        {{ 'Change status' | trans }}
                        <i class="fa fa-angle-down"></i>
                    </button>
                    <ul class="dropdown-menu" role="menu">
                        {% for key, value in status %}
                            <li>
                                <a href="javascript:;" class="change-status" data-status="{{ key }}">
                                    {{ value | trans }}
                                </a>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
        <div class="portlet-body">

            <table class="table table-bordered table-stripped data-table auto-init">
                <thead>
                    <tr>
                        <th class="column-checkbox no-sort"><input type="checkbox" class="toggle-check"></th>
                        <th>{{ 'name' | trans }}</th>
                        <th class="column-status">{{ 'status' | trans }}</th>
                        <th class="column-actions no-sort">{{ 'actions' | trans }}</th>
                    </tr>
                </thead>
                <tbody>
                    {% for entity in entities %}
                        <tr>
                            <td>
                                <input type="checkbox" class="status-check" value="{{ entity.id }}">
                            </td>
                            <td>{{ entity.name }}</td>
                            <td>
                                <span class="label label-sm {{ entity.status ? 'label-success' : 'label-danger' }} ">
                                    {{ entity.enum('status') | trans }}
                                </span>
                            </td>
                            <td>
                                <a class="btn btn-sm btn-info" href="{{ path('post_edit', { 'id': entity.id }) }}">
                                    <i class="fa fa-pencil"></i>
                                    {{ 'crud.action.edit' | trans }}</a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>

        </div>
    </div>

{% endblock %}
