{% trans_default_domain "app" %}

{% extends 'layout.html.twig' %}

{% block javascripts %}
    <script src="{{ asset('assets/vendor/riot/riot+compiler.min.js') }}" type="text/javascript"></script>
    <script src="{{ asset('assets/js/setting.js') }}" type="text/javascript"></script>
    <script src="{{ asset('assets/js/tags/settings/settings-list.tag') }}" type="riot/tag"></script>
{% endblock %}

{% block content %}

    <div class="portlet light ">
        <div class="portlet-title">
            <div class="caption font-red-sunglo">
                <i class="{{ app_menu_render_icon() }} font-red-sunglo"></i>
                <span class="caption-subject bold uppercase">
                    {{ 'settings' | trans }}
                </span>
            </div>
            <div class="actions"></div>
        </div>
        <div class="portlet-body">
           <settings-list token="{{ token }}"></settings-list> 
        </div>
    </div>

{% endblock %}
