{% trans_default_domain "app" %}

{% extends 'layout.html.twig' %}

{% block content %}

<div class="portlet light ">
    <div class="portlet-title">
        <div class="caption font-red-sunglo">
            <i class="icon-users font-red-sunglo"></i>
            <span class="caption-subject bold uppercase"> {{ 'myprofile' | trans }} </span>
        </div>
    </div>
    <div class="portlet-body form" id="userForm">
        {% form_theme form 'bootstrap_3_layout.html.twig' %}

        {{ form_start(form, {attr: {novalidate: 'novalidate'}}) }}

            {{ form_row(form.username) }}
            {{ form_row(form.email) }}
            {{ form_row(form.defaultLocale) }}
            {{ form_row(form.current_password) }}
            {{ form_row(form.plainPassword) }}

            <button type="submit" class="btn btn-primary">
                <i class="fa fa-save"></i>
                    {{ 'crud.action.save' | trans }}
            </button>
            
        {{ form_end(form) }}

    </div>
</div>

{% endblock content %}
