{% trans_default_domain "app" %}

{% extends 'layout.html.twig' %}

{% block content %}

<div class="portlet light ">
    <div class="portlet-title">
        <div class="caption font-red-sunglo">
            <i class="icon-users font-red-sunglo"></i>
            <span class="caption-subject bold uppercase"> {{ 'myprofile' | trans }} </span>
        </div>
    </div>
    <div class="portlet-body form" id="userForm">

        <div class="row">
            <div class="col-md-3 text-right">{{ 'name' | trans }}</div>
            <div class="col-md-6">{{ user.username }}</div>
        </div>

        <div class="row">
            <div class="col-md-3 text-right"> {{ 'email' | trans }}</div>
            <div class="col-md-6">{{ user.email }}</div>
        </div>

        <div class="row">
            <div class="col-md-6 col-md-offset-3"><a href="{{ path('fos_user_profile_edit') }}" class="btn btn-sm btn-info" type="button"><i class="fa fa-pencil"></i> {{ 'crud.action.edit' | trans }}</a></div>
        </div>

    </div>
</div>

{% endblock content %}
