{% trans_default_domain "app" %}

{% extends 'layout.html.twig' %}

{% block javascripts %}
<script src="{{ asset('assets/js/user.js') }}" type="text/javascript"></script>
{% endblock %}

{% block content %}

<div class="portlet light ">
    <div class="portlet-title">
        <div class="caption font-red-sunglo">
            <i class="{{ app_menu_render_icon() }} font-red-sunglo"></i>
            <span class="caption-subject bold uppercase"> {{ 'edit_user' | trans }} </span>
        </div>
        <div class="actions">
            <div class="btn-group">
                <a href="{{ path('users_index') }}" class=""><i class="fa fa-arrow-left"></i> {{ 'crud.back-to-index-link' | trans }}</a>
            </div>
        </div>
    </div>
    <div class="portlet-body form" id="userForm">
        {% form_theme edit_form 'bootstrap_3_layout.html.twig' %}
        {{ form_start(edit_form, {attr: {novalidate: 'novalidate'}}) }}
            {{ form_widget(edit_form) }}
            <button type="submit" class="btn btn-primary"><i class="fa fa-save"></i> {{ 'crud.action.save' | trans }}</button>
        {{ form_end(edit_form) }}
    </div>
</div>

{% endblock %}
