{% trans_default_domain "app" %}

{% extends 'layout.html.twig' %}

{% block content %}

<div class="portlet light ">
    <div class="portlet-title">
        <div class="caption font-red-sunglo">
            <i class="{{ app_menu_render_icon() }} font-red-sunglo"></i>
            <span class="caption-subject bold uppercase"> {{ 'users' | trans }} </span>
        </div>
        <div class="actions">
            <div class="btn-group">
                <a href="{{ path('users_new') }}" class="btn btn-primary"> {{ 'crud.action.new' | trans }} </a>
            </div>
        </div>
    </div>
    <div class="portlet-body">

        <table class="table table-bordered table-stripped data-table auto-init">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Username</th>
                    <th>Email</th>
                    <th class="column-actions no-sort">Actions</th>
                </tr>
            </thead>
            <tbody>
            {% for user in pagination %}
                <tr>
                    <td>{{ user.id }}</td>
                    <td>{{ user.username }}</td>
                    <td>{{ user.email }}</td>
                    <td>
                        <a class="btn btn-sm btn-info" href="{{ path('users_edit', { 'id': user.id }) }}"><i class="fa fa-pencil"></i> {{ 'crud.action.edit' | trans }}</a>
                        <a class="btn btn-sm btn-danger" href="{{ path('users_delete_confirm', { 'id': user.id }) }}"><i class="fa fa-trash"></i> {{ 'crud.action.delete' | trans }}</a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        {{ knp_pagination_render(pagination) }}

    </div>
</div>

{% endblock %}
