{% trans_default_domain "app" %}

{% extends 'layout.html.twig' %}

{% block javascripts %}
    <script src="{{ asset('assets/js/program.js') }}" type="text/javascript"></script>
{% endblock %}

{% block content %}

    <div class="portlet light ">
        <div class="portlet-title">
            <div class="caption font-red-sunglo">
                <i class="{{ app_menu_render_icon() }} font-red-sunglo"></i>
                <span class="caption-subject bold uppercase">
                    {% if entity.id == null %}
                        {{ 'new_Program' | trans }}
                    {% else %}
                        {{ 'edit_Program' | trans }}
                    {% endif %}
                </span>
            </div>
            <div class="actions">
                <div class="btn-group">
                    <a href="{{ path('program_index') }}" class="">
                        <i class="fa fa-arrow-left"></i>
                        {{ 'crud.back-to-index-link' | trans| capitalize }}
                    </a>
                </div>
            </div>
        </div>
        <div class="portlet-body form">
            {% form_theme form 'bootstrap_3_layout.html.twig' %}

            {{ form_start(form, {attr: {novalidate: 'novalidate'}}) }}
                {{ form_widget(form) }}
                <button type="submit" class="btn btn-primary">
                    <i class="fa fa-save"></i>
                    {% if entity.id == null %}
                        {{ 'crud.action.create' | trans }}
                    {% else %}
                        {{ 'crud.action.edit' | trans }}
                    {% endif %}
                </button>
            {{ form_end(form) }}
        </div>
    </div>

{% endblock %}
