{% trans_default_domain "app" %}

{% extends 'layout.html.twig' %}

{% block breadcrumbs %}
    <ul class="page-breadcrumb breadcrumb">
        <li>
            <a href="{{ path('homepage') }}">
                {{ 'home' | trans }}
            </a>
            <i class="fa fa-circle"></i>
        </li>
    </ul> 
{% endblock breadcrumbs %}

{% block content %}
    
    <div class="row">
        <div class="col-md-4">
            
            <div class="portlet light ">
                <div class="portlet-title">
                    <div class="caption font-red-sunglo">
                        <i class="fa fa-share font-red-sunglo"></i>
                        <span class="caption-subject bold uppercase">
                            {{ 'Shortcuts' | trans }}
                        </span>
                    </div>
               </div>
                <div class="portlet-body">
                    {{ app_menu_render_shortcut_tiles() }}
                </div>
            </div>
            
            
        </div>
    </div>
        
    
    
{% endblock content %}
