{% block extends %}
{{ "{% extends 'layout.html.twig' %}" }}
{% endblock extends %}

{% block body %}
{{ "{% block content %}" }}

<div class="portlet light ">
    <div class="portlet-title">
        <div class="caption font-red-sunglo">
            <i class="icon-settings font-red-sunglo"></i>
            <span class="caption-subject bold uppercase"> {{ "{{ 'delete_" ~ entity ~ "' | trans }}" }} </span>
        </div>
        <div class="actions">
            <div class="btn-group">
                <a href="{{ "{{ path('" ~ route_name_prefix ~ "_index') }}" }}" class=""><i class="fa fa-arrow-left"></i>  {{ " {{ 'crud.back-to-index-link' | trans }} " }}</a>
            </div>
        </div>
    </div>
    <div class="portlet-body form">
        <p>
            <strong>Confirm delete?</strong><br/><br/>
            {%- for field, metadata in fields %}
                {{ '{{ ' ~ entity_singularized ~ '.' ~ field|replace({'_': ''}) ~ ' }}' }}
            {%- endfor %}
        </p>

        {{ form_start(delete_form) }}
            {{ form_widget(delete_form) }}
            <button type="submit" class="btn btn-danger"><i class="fa fa-trash"></i> {{ " {{ 'crud.back.delete' | trans }} " }}</button>
        {{ form_end(delete_form) }}

    </div>
</div>

{{ "{% endblock %}" }}
{% endblock body %}
