{% block extends %}
{{ "{% extends 'layout.html.twig' %}" }}
{% endblock extends %}

{% block body %}
{{ "{% block content %}" }}


<div class="portlet light ">
    <div class="portlet-title">
        <div class="caption font-red-sunglo">
            <i class="icon-settings font-red-sunglo"></i>
            <span class="caption-subject bold uppercase"> {{ "{{ 'edit_" ~ entity ~ "' | trans }}" }} </span>
        </div>
        <div class="actions">
            <div class="btn-group">
                <a href="{{ "{{ path('" ~ route_name_prefix ~ "_index') }}" }}" class=""><i class="fa fa-arrow-left"></i>  {{ " {{ 'crud.back-to-index-link' | trans }} " }}</a>
            </div>
        </div>
    </div>
    <div class="portlet-body form">
        {{ "{% form_theme edit_form 'bootstrap_3_layout.html.twig' %}" }}

        {{ "{{ form_start(edit_form, {attr: {novalidate: 'novalidate'}}) }}" }}
            {{ '{{ form_widget(edit_form) }}' }}
            <button type="submit" class="btn btn-primary"><i class="fa fa-save"></i>  {{ " {{ 'crud.action.edit' | trans }} " }}</button>
        {{ '{{ form_end(edit_form) }}' }}
    </div>
</div>

{{ "{% endblock %}" }}
{% endblock body %}
