{% block extends %}
{{ "{% extends 'layout.html.twig' %}" }}
{% endblock extends %}

{% block body %}
{{ "{% block content %}" }}

<div class="portlet light ">
    <div class="portlet-title">
        <div class="caption font-red-sunglo">
            <i class="icon-settings font-red-sunglo"></i>
            <span class="caption-subject bold uppercase"> {{ "{{ '" ~ entity_pluralized ~ "' | trans }}" }} </span>
        </div>
        <div class="actions">
            <div class="btn-group">
                <a href="{{ "{{ path('" ~ route_name_prefix ~ "_new') }}" }}" class="btn btn-primary"> {{ " {{ 'crud.action.new' | trans }} " }}</a>
            </div>
        </div>
    </div>
    <div class="portlet-body">

        <table class="table table-bordered table-stripped data-table auto-init">
            <thead>
                <tr>

                {%- for field, metadata in fields %}

                <th>{{ field|capitalize }}</th>

                {%- endfor %}

                <th class="column-actions no-sort">Actions</th></tr>
            </thead>
            <tbody>
        {{ '{% for ' ~ entity_singularized ~ ' in pagination %}' }}
                <tr>

            {%- for field, metadata in fields %}
                {%- if loop.first and ('show' in actions) %}

                    <td><a href="{{ "{{ path('" ~ route_name_prefix ~ "_show', { 'id': " ~ entity_singularized ~ "."~ identifier ~" }) }}" }}">{{ '{{ ' ~ entity_singularized ~ '.' ~ field|replace({'_': ''}) ~ ' }}' }}</a></td>

                {%- elseif metadata.type in ['datetime'] %}

                    <td>{{ '{% if ' ~ entity_singularized ~ '.' ~ field|replace({'_': ''}) ~ ' %}{{ ' ~ entity_singularized ~ '.' ~ field|replace({'_': ''}) ~ '|date(\'Y-m-d H:i:s\') }}{% endif %}' }}</td>

                {%- elseif metadata.type in ['date'] %}

                    <td>{{ '{% if ' ~ entity_singularized ~ '.' ~ field|replace({'_': ''}) ~ ' %}{{ ' ~ entity_singularized ~ '.' ~ field|replace({'_': ''}) ~ '|date(\'Y-m-d\') }}{% endif %}' }}</td>

                {%- elseif metadata.type in ['time'] %}

                    <td>{{ '{% if ' ~ entity_singularized ~ '.' ~ field|replace({'_': ''}) ~ ' %}{{ ' ~ entity_singularized ~ '.' ~ field|replace({'_': ''}) ~ '|date(\'H:i:s\') }}{% endif %}' }}</td>

                {%- elseif metadata.type in ['array'] %}

                    <td>{{ '{% if ' ~ entity_singularized ~ '.' ~ field|replace({'_': ''}) ~ ' %}{{ ' ~ entity_singularized ~ '.' ~ field|replace({'_': ''}) ~ '|join(\', \') }}{% endif %}' }}</td>

                {%- elseif metadata.type in ['boolean'] %}

                    <td>{{ '{% if ' ~ entity_singularized ~ '.' ~ field|replace({'_': ''}) ~ ' %}Yes{% else %}No{% endif %}' }}</td>

                {%- else %}

                    <td>{{ '{{ ' ~ entity_singularized ~ '.' ~ field|replace({'_': ''}) ~ ' }}' }}</td>

                {%- endif %}

                {%- if loop.last %}

                    <td>
                        <a class="btn btn-sm btn-info" href="{{ "{{ path('" ~ route_name_prefix ~ "_" ~ 'edit' ~ "', { 'id': " ~ entity_singularized ~ "."~ identifier ~" }) }}" }}"><i class="fa fa-pencil"></i> {{ "{{ 'crud.action.edit' | trans }}" }} </a>
                        <a class="btn btn-sm btn-danger" href="{{ "{{ path('" ~ route_name_prefix ~ "_" ~ 'delete_confirm' ~ "', { 'id': " ~ entity_singularized ~ "."~ identifier ~" }) }}" }}"><i class="fa fa-trash"></i> {{ "{{ 'crud.action.edit' | trans }}" }} </a>
                    </td>

                {%- endif %}
            {%- endfor %}

                </tr>
        {{ '{% endfor %}' }}
            </tbody>
        </table>

        {{ '{{ knp_pagination_render(pagination) }}' }}

    </div>
</div>

{{ "{% endblock %}" }}
{% endblock body %}
